<% provide(:active, 'user') %>
<% content_for :side do %>
  <ul id="first_class">
    <li><a class="first_li active">照片上传</a></li>
  </ul>
<% end %>
<form id="fileupload" action="http://upload.qiniu.com/" method="POST" enctype="multipart/form-data">
  <div class="row">
    <div class="large-7 columns">
      <span class="button small">
        <%= fa_icon "plus" %>
        <span>添加文件</span>
        <input type="file" name="files[]" class="button" multiple>
      </span>
      <button class="button small start">
        <%= fa_icon "upload" %>
        <span>开始上传</span>
      </button>
      <button class="button small">
        <%= fa_icon "trash" %>
        <span>清空</span>
      </button>
    </div>
    <div class="large-5 columns ">
      <div class="progress round">
        <span class="meter" style="width: 0%"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <table class="presentation">
        <tbody class="files"></tbody>
      </table>
    </div>
  </div>
</form>
<!--<form method="post" action="http://upload.qiniu.com/"-->
<!--enctype="multipart/form-data">-->
<!--<input name="token" type="hidden" value="EKmlcZa22m0vbNZQLx2S754fArk8eBi4FXx2EMHp:6cgbghHs1DPp4GUR8hxyyiV6gsk=:eyJzY29wZSI6ImlwYS1wcml2YXRlOnRlc3QiLCJkZWFkbGluZSI6MTQxMTgzOTI4NX0=">-->
<!--<input name="file" id="fileupload" type="file">-->
<!--<input name="key" type="hidden" value="test">-->
<!--<input type="submit">-->
<!--</form>-->