<header>
  <div id="logo"><%= image_tag "logo.png" %></div>
  <div>
    <div id="full_name"><em>I</em>nformation <em>P</em>hotography <em>A</em>ssociation</div>
    <nav>
      <ul>
        <li><a href="#">简介</a></li>
        <li><a href="#">视频</a></li>
        <li><a href="#">摄影</a></li>
        <li><a href="#">活动</a></li>
        <li><a href="#">微电影</a></li>
      </ul>
    </nav>
  </div>
</header>
<div id="main">
  <aside>
  </aside>
  <div id="container">
  </div>
</div>
<footer>
  <small>Copyright &copy; 2014 Information &amp; Photography Association. All rights reserved.</small>
</footer>