// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.albums {
  #photo_container {
    padding-top: 10px;
    padding-left: 10px;
    .box {
      width: 200px;
      margin-bottom: 10px;
    }
  }
}