#info {
  margin: 20px;
}
#avatar {
  float: left;
}
#name {
  margin-left: 74px;
  font-size: 20px;
}
.button input[type="file"] {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: pointer;
  opacity: 0;
}

.preview img {
  width: 75px;
  height: 75px;
}

.presentation {
  width: 100%;
  border: none;
}

#fileupload {
  margin-top: 78px;
}

.progress.round {
  margin-top: 10px;
}