// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.videos {
  .vjs-big-play-button {
    top: auto !important;
    left: 50px !important;
    bottom: 20px;
  }
  #main{
    aside {
      .pagination {
        display: inline-block;
      }
    }
  }
}