// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome #main {
  #container {
    .img_container {
      position: fixed;
      top: 135px;
      left: 276px;
      .item {
        img, p {
          float: left;
        }
        p {
          font-family: "微软雅黑", "Hiragino Sans GB", "华文黑体", "黑体", sans-serif;
          margin-left: 25px;
          margin-top: 25px;
          overflow: auto;
        }
      }
      .owl-pagination {
        position: fixed;
      }
    }
  }
}